
  body {
    background-color: #fff;

  }

  #footer{
    width:100%;
    height:50%;
    position:relative;
    text-align:right;
    color:black;
    font-family: "Lobster";
    bottom: 0;
    left: 0;
    background: #ff7373;
  }


  h1 {
    padding: 50px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-family: "Lobster";
    font-size: 50px;
    color: black;
    background-color: #fff;
  }

  #nav {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    font-family: "Roboto";
  }

  #nav ul {
    display: inline-block;
    list-style-type: none;
  }

  #nav li {
    display: inline;
    padding: 20px;
    text-align:center;
  }

  #nav a {
    text-decoration: none;
    text-align: center;
    color: #1f1f1f;
    padding: 10px 10px 10px 10px;
  }

  #nav a:hover {
    color: black;
    background-color: #ff7373;
    border-radius: 10px;
  }

  #header {
    height: 150%;
    padding: 15px;
  }

  #header a {
    color: black;
    text-decoration: none;
    font-weight:bold;
    font-family: "Lobster";
  }

  #info {
    color: black;
    text-align: left;
    padding: 25px;
    font-weight:bold;
    font-family: "Roboto"

  }

  h2 {
    color: black;
    font-family: "Roboto";
    text-align: center;
    padding: 25px;
  }

  #restitle {
    color: black;
    font-family: "Roboto";
    text-align: center;
    padding: 5px;
    font-size: 35px;
    background-color: #ff7373;
  }

  h3{
    color: black;
    font-family: "Roboto";
    text-align: left;
    padding: 10px;
    margin:auto;
  }

  div .button {
    color: black;
    position: relative;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    padding: 15px;
    width: 15%;
    font-family: "Lobster";
  }


  ul {
    list-style-type:none;
    color: black;
    font-family:"Roboto";
    padding: 25px

  li {
    list-style-type:none;
    color: black;
    font-family:"Roboto";
    padding-right: 60%;
  }

  .extras {
    border: 2px solid blue;
  }
